@font-face {
    font-family: blocky;
    src: url(../fonts/blocky.ttf);
}

body {
    margin: 0;
}
#root{

}
.app {
    background-image: url(../images/mdc.jpg);
    background-size: cover;
    height: 100vh;
}

.card {
    opacity: 0.8;
}

.sign, h1{
    font-family: blocky;
    color: aliceblue;
}

p{
    font-size:1em;
    color: yellow;
    font-family: sans-serif;
}

button{
    opacity: 1;
}

.app .logo {
    height: 200px;
}

.rotate {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
